# Virtual environment folder
venv/

# Python cache and bytecode files
__pycache__/
*.pyc

# SQLite database
db.sqlite3

# Media files (user uploads)
media/

# Environment variables file
.env

# VS Code settings folder (optional)
.vscode/
